/*---GENERAL STYLES---*/

/*----Blue text color most used: #3675d3----*/
/*-----Blue gradient background colors most used: #2bbdbd, #4388ee, #2155a6----*/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	height: 100vh;
    padding-bottom: 51px;
}

body > header {
    min-height: 70px;
    background-color: #fffbfb;
    position: fixed;
    width: 100%;
    z-index: 1;
    
}

body > footer {
    background-color: #2b2b2b;
    border-top: 3px solid #1f1f1f;
    font-size: 13px;
    bottom: 0;
    position: fixed;
    width: 100%;
    min-height: 70px;
    padding-top: 25px;
}

    body > footer p{
        color: #888888;
        text-align: center;
    }

    body > footer p span.copyright-name{
        color: #31afc9;
        
    }

h2 {
   color:#3675d3;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    overflow: hidden;
    color: #ffffff;
    cursor: pointer;
    visibility: visible;
    background: -moz-linear-gradient(left, #2bbdbd 0%, #4388ee 65%, #2155a6 100%);
    background: -webkit-linear-gradient(left, #2bbdbd 0%, #4388ee 65%, #2155a6 100%);
    background: linear-gradient(90deg, #2bbdbd 0%, #4388ee 65%, #2155a6 100%);
    outline:none; 
   
}

button:hover{
    opacity:1;
    visibility:visible;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 17px 11px 30px rgb(67 136 238 / 40%);
    background: -moz-linear-gradient(left, #2155a6 0%, #4388ee 65%, #2bbdbd 100%);
    background: -webkit-linear-gradient(left, #2155a6 0%, #4388ee 65%, #2bbdbd 100%);
    background: linear-gradient(90deg,#2155a6 0%, #4388ee 65%, #2bbdbd 100%);   
}


/*---HEADER---*/

.header-container {
    text-align: center;
    width: 56%;
    margin: 0 auto;
}

div.logo{
    float: left;
    padding-top: 5px;
}

nav.navigation{
    text-align: right;
    list-style: none;
}

nav.navigation ul li{
    display: inline-block;   
   
}

ul li.nav-item{
    padding-top: 25px;
    list-style:  none;
}

li.nav-item:after{
    display: inline;
    content: ' ';
    border-right: 1px dotted #aaa;
    padding-right: 5px;
}

ul li a{
	padding: 0  5px ;
}

ul li a,
ul li a:link {
    text-decoration: none;
    color: #3675d3;
}

ul li a:visited {
    text-decoration: none;
    color: #3675d3;
}

ul li a:hover {
    text-decoration: none;
    color: #fff;
	background: #3675d3;
    padding-top: 25px;
	padding-bottom: 23px;
}

ul li a:active {
    text-decoration: none;
    color:  #fff;
}
   
ul li.nav-item.mobile-menu{
    color: #3675d3;
    display: none;
	text-align: center;
}

/*----SECTION----*/

section.form{
    height: 100%;
    display: flex;
    align-items: center;
}  

/*----WELCOME MESSAGE----*/

.welcome-message {
    color: #5cf0fe;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 17%;
}
  
.welcome-message .letter {
    display: inline-block;
    line-height: 1em;
}
    
/*----GALLERY----*/

.btns-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    align-content: center;
    top: 45%;
    transform: translateY(-50%);
}

.btns-container button {
	width: 75px;
    margin-top: 0;
    height: 40px;
}

.gallery {
    overflow: hidden;
    opacity: 1;
    max-width: 100%;
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
    transition: background-image 3s;
}

button.btn:hover{
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 2px 2px 30px rgb(67 136 238 / 30%);
    background: -moz-linear-gradient(left, #2bbdbd 0%, #4388ee 65%, #2155a6 100%);
    background: -webkit-linear-gradient(left, #2bbdbd 0%, #4388ee 65%, #2155a6 100%);
    background: linear-gradient(90deg, #2bbdbd 0%, #4388ee 65%, #2155a6 100%);
}

/*----BOOK SEARCH FORM----*/

div.form-box {
    text-align: center;
    background-color: #fff;
    width: 480px;
    margin:0 auto 74px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 3px 1px 20px 0px #739bf4;
}

div form h2 {
    padding-bottom: 15px;
}

form .styling-fields{
    width: 200px;
    height: 50px;
    text-align: center;
    outline:none;
    margin: 10px 5px;
	border: 1px solid #b5b5b5;
    background: #fff;
}

form input {
    outline:none;
}

.select-city,
.select-room,
.select-guests{
    -moz-text-align-last: center;
    text-align-last:center;
    color: #757575;
}



